
.table-main {
  width: 40%;
}

.line-table {
  background-color: blue;
}

.item-table {
  height: 120px;
  width: 120px;
}

.item-table-active {
  height: 120px;
  width: 120px;
  background-image: url("/src/img/rabbit.gif");
  background-size: 120px;
  background-repeat: no-repeat;
  display:block;
}

.text-h1 {
  color: rgb(103, 103, 10);
}
