.card-input{
  margin: 20px 10px 40px 0px;
  width: 20%;
  height: 30px;
  font-size: 20px;
}

.card-alert{
  background-color: rgb(225, 173, 173);
}

.card-valid{
  background-color: rgb(155, 218, 136);
}
